/* start global rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
:root {
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transition:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
}
body {
    font-family: "Cairo", sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;

    }
  }
  /* start main-title */
  .main-title {
    margin: 0 auto 100px;
    width: fit-content;
    padding: 1px 13px;
    border: solid 2px black;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-title:hover {
    border: solid 2px white;
    color: white;
    transition-delay: 0.5s ;
}
.main-title::before
,.main-title::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-title::before {
  content: "";
  left: -40px;
  animation: moveanim 1s infinite ease-in-out both alternate;
  -webkit-animation: moveanim 1s infinite ease-in-out both alternate;
}
.main-title::after {
    content: "";
    right: -40px;
    animation: moveanim 1s infinite ease-in-out both alternate-reverse;
    -webkit-animation: moveanim 1s infinite ease-in-out both alternate-reverse;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}
  /* end main-title */
/* end global rules */
/* start header */
header {
    background-color: white;
    box-shadow: 0px 0px 8px #ddd ;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
}
/* logo */
header .container .logo {
    height: 72px;
    font-size: 28px;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* links var */
header .container .main-var {
    display: flex;
}
header .container .main-var >li > a {
    height: 72px;
    padding: 0px 30px;
    color: rgb(22, 22, 22);
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .container .main-var >li > a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
header .container .main-var >li >a:hover::before {
    left: 0;
}
header .container .main-var >li >a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    height: 4px;
    width: 100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
/* start mega menu */
header .container .main-var .mega-menu {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    opacity: 0;
    z-index: -2;
    top: calc(100% + 50px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .container .main-var li:hover >.mega-menu {
    opacity: 1;
    z-index: 200;
    top: calc(100% + 1px);
}
header .container .main-var .mega-menu .image img {
    max-width: 100%;
}
header .container .main-var .mega-menu .links {
    flex: 1;
    max-width: 250px;
}
header .container .main-var .mega-menu .links li {
    position: relative;
}
header .container .main-var .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .container .main-var .mega-menu .links li:hover::before {
    width: 100%;
}
header .container .main-var .mega-menu .links li:not(:last-child) {
    border-bottom: solid 1px #a9a9a9;
}
header .container .mega-menu .links li a {
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    display: block;
}
header .container .main-var .mega-menu .links li:hover a i{
    animation-play-state: running;
}
header .container .main-var .mega-menu .links li a i {
    margin-right: 5px;
    position: relative;
    animation: iconanim  infinite alternate linear ;
    -webkit-animation: iconanim  infinite alternate linear ;
    animation-duration: 0.9s;
    animation-play-state: paused;
}
@keyframes iconanim {
    from {
        top: -2.5px;
    }
    to{
        top: 5px;
    }
}
@media (max-width:995px ) {
    header .container .main-var .mega-menu .image img {
        display: none;
    }
    header .container .main-var .mega-menu .links {
        max-width: 100%;
    }
}
@media (max-width:600px ) {
    header .container .main-var .mega-menu {
        flex-direction: column;
        gap: 0px;
    }
    header .container .mega-menu .links li a {
        padding: 6px;
    }
}
/* end mega menu */
/* media */
@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }
    header .container .main-var >li > a {
        font-size:14px ;
        padding: 10px;
        height: 40px;
    }
    header .container .main-var {
        margin: auto;
    }
}
/* end header */
/* start landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    z-index:-1;
    width: 100%;
    height:100%;
    background-color: #ececec;
    transform: skewY(-6deg) ;
    -webkit-transform: skewY(-6deg) ;
    -moz-transform: skewY(-6deg) ;
    -ms-transform: skewY(-6deg) ;
    -o-transform: skewY(-6deg) ;
    transform-origin: top left;
}
.landing .container {
    min-height: calc( 100vh - 72px);
    display: flex;
    align-items: center;

}
.landing .container .text {
    margin-bottom: 154px;
}
.landing .container .text h2 {
    font-size: 2.4rem;
    font-weight: bold;
}
.landing .container .text p {
    font-size: 1.4rem;
    max-width: 500px;
    color: #666;
    line-height: 1.7;
    margin: 5px 0px 0px;
}
.landing .container .image img {
    max-width: 600px;
}
.landing .container .image {
    position: relative;
    animation: land infinite linear 3s alternate;
    -webkit-animation: land infinite linear 3s alternate;
}
.landing .go-down {
    animation: go-down 1.6s infinite alternate linear;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: var(--main-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-animation: go-down 1.6s infinite alternate linear;
}
@media (max-width: 993px) {
    .landing .container {
        justify-content: center;
    }
    .landing .container .image img {
        display: none;
    }
    .landing .container .text {
        text-align: center;
    }
}
/* end landing */
/* start articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .box {
    box-shadow: 0 2px 15px rgb( 0 0 0 /10%);
    border-radius: 5px;
    overflow: hidden;
    transition: var(--main-transition) ease-out;
    -webkit-transition: var(--main-transition) ease-out;
    -moz-transition: var(--main-transition) ease-out;
    -ms-transition: var(--main-transition) ease-out;
    -o-transition: var(--main-transition) ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.articles .container .box:hover {
    box-shadow: 0 2px 15px rgb( 0 0 0 /20%);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.articles .container .box img {
    width: 100%;
}
.articles .container .box .content {
    padding: 20px;
}
.articles .container .box .content h3 {
    margin: 0;
}
.articles .container .box .content p {
    margin: 15px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .container .box .info {
    padding: 15px 20px;
    border-top: solid 1px #e6e6e6e7;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .container .box .info a,
.articles .container .box .info i {
    color: var(--main-color);

}
.articles  .box:hover .info i {
    animation: arrowanim infinite linear 1s;
    -webkit-animation: arrowanim infinite linear 0.6s;
}

/* end articles */
    /* start animation */
    @keyframes land {
        0% {
            top: -100px;
        }
        100% {
            top: -72px;
        }
        
    }
    @keyframes go-down {
        0%,10%,20%,50%,80%,100% {
            transform: translateY(-6px);
            -webkit-transform: translateY(-6px);
            -moz-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
            -o-transform: translateY(-6px);
        }
        40%,60%{
            transform: translateY(15px);
            -webkit-transform: translateY(15px);
            -moz-transform: translateY(15px);
            -ms-transform: translateY(15px);
            -o-transform: translateY(15px);
            filter: drop-shadow(0px -3px 2px #1786e094 );
            -webkit-filter: drop-shadow(0px -3px 2px #1786e094 );
    }
    }
    /* main-title */
    @keyframes left-move {
        50% {
            left: 0px;
            width: 12px;height: 12px;
        }
        100%{
            left: 0px;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            height: 100%;width: 50%;
    }
    }
    @keyframes right-move {
        50% {
            right: 0px;
            width: 12px;height: 12px;
        }
        100%{
            right: 0px;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            height: 100%;width: 50%;
    }
    }
    @keyframes moveanim {
        0% {
            transform: translateX(-10px);
            -webkit-transform: translateX(-10px);
            -moz-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            -o-transform: translateX(-10px);
            box-shadow: 5px 2px 5px 0px #66666657;
    }
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        box-shadow: -5px 2px 5px 0px #66666657;
    }
    }
    /* articles */
    @keyframes arrowanim {
        100% {
            transform: translateX(10px);
            -webkit-transform: translateX(10px);
            -moz-transform: translateX(10px);
            -ms-transform: translateX(10px);
            -o-transform: translateX(10px);
}
    }
    /* end animation */